body{
    background-color: pink;
    font-family: "Playwrite IE", cursive;
}

.encabezado_pagina{
    text-align: center;
    word-spacing: 15px;
    letter-spacing: 1px;
    align-items: center;
    padding: 15px 40px;
    background-color: rgb(255, 120, 142);
    box-shadow: 5px 6px 10px 5px rgb(255, 97, 123);
    border: 1px solid white;
    border-radius: 5px;
}

a{
    color:rgb(255, 227, 231);
    text-decoration: none;
}

a:hover{
    color: rgb(252, 65, 96);
}

.imagen img{
    width: 400px;
    border-radius: 10px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
     background-color: rgb(255, 120, 142);
    border-radius: 10px;
    margin: 80px 200px;
    box-shadow: 5px 6px 10px 5px rgb(255, 97, 123);
}

.contenido_card{
    max-width: 400px;
    text-align: center;
    color: antiquewhite;
}



